pipeline/Pipeline 1.json
{
	"name": "Pipeline 1",
	"properties": {
		"activities": [
			{
				"name": "WebFailure",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://prod-00.southindia.logic.azure.com:443/workflows/67ce1efa15a245a1b81e5f34519ee13a/triggers/When_a_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_a_HTTP_request_is_received%2Frun&sv=1.0&sig=XTk6sWGpHzuDgHQ8SHnejKuBozA-EUxrdYR1iJgmtu0",
					"body": {
						"value": "{\n    \"Massage\": \"A file upload failed in the pipeline with:<br><br>Run ID: @{pipeline().RunId}<br>Pipeline Name: @{pipeline().Pipeline}<br>Run Time: @{pipeline().TriggerTime}<br>Error: @{activity('Copy data1').output.errors[0].Message} \",\n    \"Datafactoryname\": \"@{pipeline().DataFactory}\",\n    \"pipelineName\": \"@{pipeline().Pipeline}\",\n    \"Runid\": \"@{pipeline().RunId}\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SuccessMail",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@not(empty(pipeline().parameters.email))",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "WebSuccess",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "POST",
								"headers": {
									"Content-Type": "application/json"
								},
								"url": "https://prod-00.southindia.logic.azure.com:443/workflows/67ce1efa15a245a1b81e5f34519ee13a/triggers/When_a_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_a_HTTP_request_is_received%2Frun&sv=1.0&sig=XTk6sWGpHzuDgHQ8SHnejKuBozA-EUxrdYR1iJgmtu0",
								"body": {
									"value": "{\n    \"Massage\": \"A file upload succeeded in the pipeline with:<br><br>Run ID: @{pipeline().RunId}<br>Pipeline Name: @{pipeline().Pipeline}<br>Run Time: @{pipeline().TriggerTime}\",\n    \"Datafactoryname\": \"@{pipeline().DataFactory}\",\n    \"pipelineName\": \"@{pipeline().Pipeline}\",\n    \"Runid\": \"@{pipeline().RunId}\"\n}",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFolderPath": "asdfgh",
							"wildcardFileName": "sdfgh",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "ParquetReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "testsource",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DelimitedText1",
						"type": "DatasetReference"
					}
				]
			}
		],
		"parameters": {
			"email": {
				"type": "string",
				"defaultValue": "praveenkumarv@systechusa.com"
			}
		},
		"variables": {
			"Errormassage": {
				"type": "String"
			}
		},
		"annotations": []
	}
}