pipeline/plLoadCSVfiles.json
{
	"name": "plLoadCSVfiles",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "sourceCSV",
						"type": "DatasetReference",
						"parameters": {
							"container": {
								"value": "@pipeline().parameters.source_container",
								"type": "Expression"
							},
							"folder": {
								"value": "@pipeline().parameters.source_dir",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"wildcardFolderPath": {
											"value": "@pipeline().parameters.source_dir",
											"type": "Expression"
										},
										"wildcardFileName": {
											"value": "@item().name",
											"type": "Expression"
										},
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "sourceCSV",
									"type": "DatasetReference",
									"parameters": {
										"container": {
											"value": "@pipeline().parameters.source_container",
											"type": "Expression"
										},
										"folder": {
											"value": "@pipeline().parameters.source_dir",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "bronze",
									"type": "DatasetReference",
									"parameters": {
										"container": {
											"value": "@pipeline().parameters.landing_container",
											"type": "Expression"
										},
										"folder": {
											"value": "@pipeline().parameters.landing_dir",
											"type": "Expression"
										},
										"filename": {
											"value": "@replace(item().name,'.csv','')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Notebook1",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/tharunp1@systechusa.com/Databricks/demo"
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"source_container": {
				"type": "string",
				"defaultValue": "source-fs"
			},
			"landing_dir": {
				"type": "string",
				"defaultValue": "Bronze"
			},
			"landing_container": {
				"type": "string",
				"defaultValue": "databricks-fs"
			},
			"source_dir": {
				"type": "string",
				"defaultValue": "Northwind"
			}
		},
		"annotations": []
	}
}